---
import {Content} from './terms.md';
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout title="Terms">
  <Container>
    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      <Content />
    </div>
  </Container>
</Layout>
